:root {
    --primary-color: #B02924;
    --secondary-color: #F7DD77;
    --accent-color: #d55a5a;
    --text-color: #210000;
    --light-bg: #6e0404;
    --border-color: #e2e8f0;
    --hover-color: #510000;
}

/* Basic styling for the top bar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    z-index: 100;
}

.top-bar a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    padding: 10px;
    transition: 0.3s;
}

.top-bar a:hover {
    color: var(--secondary-color);
    font-size: 20px;
    padding: 6px 10px;
}

.nav-menu a.active {
    color: var(--secondary-color);
}

.top-bar .nav-menu {
    display: flex;
    justify-content: space-around;
}

.centered-text {
    display: flex;
    justify-content: center; /* Aligns horizontally */
    align-items: center;     /* Aligns vertically */
    font-size: 18px;               /* Set font size */
    font-weight: bold;             /* Make text bold */
    text-transform: capitalize;    /* Capitalize the first letter */
    padding: 5px 10px;             /* Add some padding */
    border-radius: 5px;            /* Rounded corners */
}

.hide {
    display: none;
}

#content {
    padding-top: 50px;
}

/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}